git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]
motor
marshmallow
python-telegram-bot
umongo
requests
bs4
Pyromod
imdbpy
youtube-dl
youtube_search
requests
googletrans
telegraph
beautifulsoup4
gTTS
googletrans
NumPy
glitch_this
opencv-python-headless
youtube-search-python
yt-dlp
pypng
Pillow
wget
aiofiles
psutil
wheel
humanize
ytthumb
pypdf2
PyPDF2
pyshorteners
ffmpeg-python
TgCrypto
carbonnow
py-tgcalls
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
parse-torrent-name
bs4
string-extract
domain-extract
hashtags_extract
Pymoe
pendulum
pytesseract
pyshorteners
persondoesnotexist
catdoesnotexist
python-decouple
speedtest-cli
countryinfo
